.radio, #check-active {
    margin-left: 10%;
}

#multiselect-course, #subject-name, #subject-description, #card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.span-error {
    color: red;
}

.span-error-course-task {
    color: red;
    margin-left: 10%;
}

.tag-input {
    box-sizing: border-box;
    padding: 0 1vh;
    margin-left: 10%;
    margin-right: 10%;
}

.tag-input__tag {
    float: left;
    margin-right: 1%;
    background-color: green;
    margin-top: 1vh;
    line-height: 3vh;
    padding: 0 1vh;
    border-radius: 1vh;
    color: white;
}

.button_search {
    width: 25vw;
    float: right;
}

#add-update-subject {
    margin-right: 10%;
    margin-top: 1vh;
}

#cancel-add-update-subject {
    margin-right: 1vw;
    margin-top: 1vh;
}

.removeTagCourse {
    color: black;
}
