.err,
.span-err {
    color: red;
}

.removeTagUser {
    color: black;
}

#modal_action_user_search {
    width: 350px;
    float: right;
}

.tag-input-course {
    width: 100%;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 0 10px;
}

.tag-input__tag-course {
    height: 30px;
    float: left;
    margin-right: 10px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    line-height: 30px;
    padding: 0 5px;
    border-radius: 5px;
}

#add-update-course {
    margin-top: 1vh;
}

#cancel-course {
    margin-top: 1vh;
    margin-right: 1vw;
}