.paginate {
    float: right;
    width: 10vw;
}

.updateCourse, .detailCourse {
    margin-left: 1vw;
}

.mt-3 {
    width: 20vw;
    margin-left: 2vw;
}

.imgCourse {
  height: 50px;
  width: 50px;
}

.nameCourse {
  margin-left: 1vw;
  margin-top: 1vw;
}
