.content {
    padding: 50px;
}

.paginate {
    float: right;
    width: 10vw;
}

.updateUser,
.detailUser {
    margin-left: 1vw;
}

.mt-3 {
    width: 20vw;
    margin-left: 1vw;
}
.imgUser {
  height: 50px;
  width: 50px;
}

.nameUser {
  margin-left: 1vw;
  margin-top: 1vw;
}
