#delete {
    background-color: red;
    margin-top: 2%;
}

#detail {
    background-color: blue;
    color: white;
    margin-top: 2%;
}

#add {
    background-color: blue;
}

#update {
    background-color: green;
    margin-top: 2%;
}

#paginate {
    float: right;
    margin-right: 10%;
}

#icon-active {
    background-color: white;
}

#icon-unactive {
    background-color: yellow;
}
