.action button {
    float: right;
}

#children {
    margin-left: 10%;
}

#parent {
    margin-top: 1vh;
    margin-left: 5vw;
    margin-right: 20vw;
    background-color: #ccc;
    font-weight: bold;
    border: 1px solid black;
}

.deleteCategory, .addCategory {
    margin-left: 1vw;
}
